<div class="row mt-4">
    <div class="col-xl-8 margin-auto">
        <div class="card-box borderShadow">
           <h4 class="header-title mb-4">Orders</h4>
           <div class="table-responsive">
                <table class="table table-hover table-centered m-0">
                    <thead>
                        <tr>
                            <th>Order Id</th>
                            <th>Total Price</th>
                            <th>Discount</th>
                            <th>Total Item Types </th>
                            <th>Date</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="orderList.length > 0">
                            <tr *ngFor="let item of orderList" >
                                <td>{{item['orderTrackId']}}</td>
                                <td>{{item['totPrice']}}</td>
                                <td>{{item['discount']}}</td>
                                <td>{{item['totItemsType']}}</td>
                                <td>{{item['date']}}</td>
                                <td>{{item['status']}}</td>
                            </tr>
                        </ng-container>
                        <tr *ngIf="orderList.length == 0">
                            <td colspan="6" style="text-align: center;">No Orders available</td>
                        </tr>                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>