
<header class=" fixed-top">
  <div class="container main-header-top">
    <img src="../assets/img/logo.jpg" class="navbar-brand">
    <h2 class="navbar-brand">OnlineMarketPlace</h2>
    <div class="div-searchbar">
      <form post="GET">
        <input type="text" placeholder="search...">
        <span><i class="fas fa-search"></i></span>
      </form>
    </div>
    <div class="cart">
      <a href="">
        <i class="fab fa-opencart"></i>
        <span class="cart-count">
          <span class="count-number">
            {{cartItemCount}}
          </span>
        </span>
      </a>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <span *ngFor="let item of message">
          {{item['text']}}
        </span>
      </div>
    </div>
  </div>
  <div class="container-flude header-bottom-nav">
    <nav class="container navbar navbar-expand-lg navbar_style">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars navbar-toggler-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="navItem_a_style" [routerLink]="['/']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Home <i class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
              <a class="dropdown-item" routerLink="/customers" routerLinkActive="custom-active">Customers </a>
              <a class="dropdown-item" routerLink="/guarantors" routerLinkActive="custom-active">Guarantors </a>
              <a class="dropdown-item" routerLink="/locationMaster" routerLinkActive="custom-active">Location </a>
              <a class="dropdown-item" routerLink="/employee" routerLinkActive="custom-active">Employee </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="navItem_a_style" [routerLink]="['/shopping']" [queryParams]="{ shop : 'grocery' }"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Grocery
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="navItem_a_style" [routerLink]="['/shopping']" [queryParams]="{ shop : 'beautyAndHealth' }"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Beauty & Health
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="navItem_a_style" [routerLink]="['/shopping']" [queryParams]="{ shop : 'homeAndKitchen' }"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Home & Kitchen
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="navItem_a_style" [routerLink]="['/shopping']" [queryParams]="{ shop : 'pets' }"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Pets items
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="navItem_a_style" [routerLink]="['/shopping']" [queryParams]="{ shop : 'gift' }"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Gift
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="navItem_a_style" [routerLink]="['/shopping']" [queryParams]="{ shop : 'electronics' }"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Electronics
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="navItem_a_style" [routerLink]="['/blog']"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Blog
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="navItem_a_style" [routerLink]="['/admin']"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Admin
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<div>
  <router-outlet></router-outlet>            
</div>