<div class="mainDiv">
    <div class="container mt-3">
        <div class="row navigation-row mb-3">
            <a routerLink="/">Home</a><span></span><a routerLink="{{shopType}}">{{shopTypeTitle}}</a>
        </div>
        <div class="row mt-4">
            <div class="col-lg-2 p-0" >
                <!-- <div class="div-categotry">
                    <h4 class="row-title mb-3">{{shopTypeTitle}}</h4> 
                    <button class="btn btn-warning" (click)="showGV()">mam</button>
                     <ul>
                        <li class="expand-icon">Grocery<span><em class="porto-icon-plus-squared slideUp"></em></span>
                            <ul class="hide" >
                                <li>asad</li>
                                <li>asdc asda</li>
                                <li>acs & dfg</li>
                                <li>asa</li>
                            </ul>
                        </li>
                        <li class="expand-icon">Fashion <span><em class="porto-icon-plus-squared slideUp"></em></span>
                            <ul class="hide" >
                                <li>asad</li>
                                <li>asdc asda</li>
                                <li>acs & dfg</li>
                                <li>asa</li>
                            </ul>
                        </li>
                        <li>Electronics <span><em class="porto-icon-plus-squared"></em></span></li>
                        <li>Home & Kitchen <span><em class="porto-icon-plus-squared"></em></span></li>
                        <li>Baby & Toys <span><em class="porto-icon-plus-squared"></em></span></li>
                        <li>Services <span><em class="porto-icon-plus-squared"></em></span></li>
                        <li>Gift Items <span><em class="porto-icon-plus-squared"></em></span></li>
                    </ul> 
                    
                </div> -->
                <accordion 
                        [options]="options" 
                        [menus]="menus">
                </accordion>
            </div>
            <div class="col-lg">
                <div class="pl-3 pr-3 pb-3"> 
                    <div class="category-row">
                        <div class="col-md-6 col-lg-3 product-card" *ngFor="let product of products">
                            <div class="xs-product-category">
                                <div class="xs-product-category-bg" *ngIf="product['discountOn'] == 1">
                                    <span>Save {{product['discount']}} %</span>
                                </div>
                                <div class="make-heart">
                                    <i class="far fa-heart remove-heart block"></i>
                                    <i class="fas fa-heart  heart hide"></i>
                                </div>
                                
                                <div class="product-img-box">
                                    <img src="http://localhost:3000/api/uploads/products/{{product['pic']}}" alt="" srcset="">
                                </div>
                                <p class="product-title">
                                    {{product['name']}}
                                </p>
                                <span class="price">
                                    <del *ngIf="product['discountOn'] == 1 ">Rs.{{product['price']}}</del> 
                                    <span class="current-price">Rs.{{product['discountPrice']}}</span>
                                </span>
                                <div class="product-add-to-cart">
                                    <!-- <label>Qty : </label> -->
                                    <span class="">
                                        <input type="hidden" class="max-value" value="{{product['qty']}}">
                                        <input type="button" class="minus" value="-" (click)="cal($event )">
                                        <input type="number" id="value" class="cart-value" min="0" max="100" value="1" readonly>
                                        <input type="button" class="plus" value="+" (click)="cal($event )">
                                    </span>
                                </div>
                                <label class="add-to-cart-button">
                                    <i class="fab fa-opencart"></i>
                                    <input type="button" value="Add to cart" (click)="OnAddCart(product)">
                                </label>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>