*{
    font-family: "Source Sans Pro",sans-serif;
    cursor: default;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 600;
    font-family: "Source Sans Pro",sans-serif;
    color: #575a65;
    overflow-wrap: break-word;
}
.mainDiv{
    width: 100%;
    min-height: 100vh;
    padding-top: 130px;
}
.navigation-row{
    padding: 10px 15px 15px;
    padding-left: 0;
    border-bottom: #e6e6e6 solid 1px;
}
.navigation-row a{
    text-transform: capitalize;
    color: #000000;
    cursor: pointer;
}
.navigation-row span::after {
    content: '\203A';
    line-height: 15px;
    display: inline-block;
    padding: 0;
    font-size: 20px;
    font-family: 'porto-icons';
    margin: 0 9px;
    font-weight: 600;
}
.row-title{
    font-size: 16px;
    /* background: #51aa1b; */
    background: linear-gradient(180deg, #51aa1b 0%, #7cbe46 100%);
    padding: 15px 16px 15px;
    color: #fff;
    border-radius: 8px 8px 0 0;

}
.row-title a{
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.div-categotry{
    background: #f1f1f1;
    height: auto;
    min-height: 400px;
    padding: 0;
}
.div-categotry h4{
    margin-top: 0;
    text-transform: capitalize;
}
.div-categotry ul{
    list-style: none;
    padding: 10px 16px 15px;
}
.div-categotry ul li{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
    color: #546067;
    padding: 5px 0;
    cursor: pointer;
}
.div-categotry ul li span{
    position: absolute;
    right: 0;
    padding-top: 2px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 20px;
}
.slideDown{
    transform: rotate(-100deg);
}
.slideUp{
    transform: rotate(78deg);
}
.div-categotry ul li ul{
    padding-left: 30px;
}

.porto-icon-plus-squared-alt:before{content:'\f82c'}
.porto-icon-minus-squared-alt:before{content:'\f82d'}
.porto-icon-plus-squared:before{content:'\203A'}
.porto-icon-minus-squared:before{content:'\f82f'}




.category-row{
    display: flex;
    flex-wrap: wrap;
}
.product-card{
    position: relative;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.xs-product-category {
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #efefef;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    padding: 20px 15px;
    margin-bottom: 20px;
    overflow: hidden;
}
.xs-product-category-bg{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    top: 8%;
    left: -30%;
    background: #51aa1b;
    transform: rotate(-45deg);
    z-index: 99;
}
.xs-product-category-bg span{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.product-img-box{
    width: 170px;
    height: 135px;
    margin: 0 auto;
    margin-bottom: 15px;
    overflow: hidden;
}
.product-img-box img{
    width: 100%;
    height: 100%;
}
.product-title {
    /* font-size: 1.14286em; */
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 1.625;
}
.price{
    display: flex;
    flex-direction: row;
    font-size: 17px;
    /* color: #83b735; */
    color: #EE2D43;
    justify-content: center;
}
.price del{
    text-decoration: line-through;
    color: #c7c6c6;
    margin:0 5px;
}
.current-price{
    margin: 0 5px;
}
.product-add-to-cart{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 15px auto 10px;
}
.product-add-to-cart label{
    font-size: 14px;
    padding-top: 4px;
    margin: 0;
    margin-right: 10px;
}
.product-add-to-cart span{
    display: flex;
    flex-direction: row;
    
}
.product-add-to-cart span input[type="number"] {
    width: 50px;
    height: 30px;
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;  
    border: 1px solid #E3E3E3 !important;  
    border-radius: 0;
    background-color: #fff;
    padding: 0 8px;
    font-size: 1em !important;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    color: #777;
    text-align: center;
    font-size: 14px !important;
}
.product-add-to-cart span input[type="button"]{
    background: #f9f9f9;
    cursor: pointer;    
    min-width: 32px;
    height: 30px;
    box-shadow: none;
    background: transparent;
    padding: 0 5px;
    border: 1px solid rgba(129,129,129,.2);
    color: #777;
}
.add-to-cart-button{
    border: solid 2px #51aa1b;
    border-radius: 5px;
    background: #51aa1b;
    font-size: 14px;
    color: #fff;
    padding: 6px 15px;
    margin-top: 6px;
    transition: all .3s ease;
}
.add-to-cart-button input[type="button"]{
    background: none;
    border: 0;
    color: inherit;
    padding-right: 0;
}

.add-to-cart-button:hover{
    background: #fff;
    color: #51aa1b;
}
.make-heart{
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    padding-right: 15px;
    overflow: hidden;
    transition: all .4s ease;
}
.make-heart i{
    cursor: pointer;
}
.heart{
    color: #51aa1b;
}

.hide{
    display: none;
}
.block{
    display: block;
}

@media (min-width: 1200px) { 
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px;
    }
}



@media (max-width: 767.98px) { 
    .see-more{
        justify-content: center;
    }
}