<div class="mainDiv">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-2 side-navigation">
                <h5 class="ml-4">Navigation</h5>
                <ul class="side-navi-top" id="metismenu">
                    <li class="mm-active" >
                        <a class="has-arrow" aria-expanded="true"> Product </a>
                        <ul class="side-navi-second">
                            <li><a [routerLink]="['productList']" routerLinkActive="side-navi-second-li"> Product List</a></li>
                            <li><a [routerLink]="['productAdd']" routerLinkActive="side-navi-second-li" >Product Add</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" aria-expanded="true">Customer</a>
                        <ul class="side-navi-second">
                            <li><a [routerLink]="['customer']" routerLinkActive="side-navi-second-li" >Request</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" aria-expanded="true">Appearance</a>
                        <ul class="side-navi-second">
                            <li><a [routerLink]="['editHome']" routerLinkActive="side-navi-second-li" >Home</a></li>
                            <li><a [routerLink]="['customer']" routerLinkActive="side-navi-second-li" >Shopping</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-10 admin-pannel">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
