.toggle-btn
{
    width:50px;
    height:25px;
    background:gray;
    border-radius:30px;
    padding:2px 3px;
    transition:all 400ms ease-in-out;
}
.toggle-btn > .circle
{
    width:20px;
    height:20px;
    background:white;
    border-radius:50%;
    transition:all 400ms ease-in-out;
}
.active
{
    background:#51aa1b;
}
.active > .circle
{
    margin-left:25px;
}



.form-group label{
    height: 32px;
}
.form-control-row{
    display: flex;
    flex-direction: row;
}
.form-control-row label{
    height: unset;
    margin-right: 15px;
}


.searchedItem{
    margin:0 3px;
}
.searchedItem:nth-child(1){
    margin-left: 0;
}
.searchedItem label{
    color: #fff;
    font-weight: 500;
    background: rgba(201, 24, 107, 0.788);
    padding: 5px 15px;
    padding-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}
.searchedItem label:hover{
    background: rgba(201, 24, 107, 0.884); 
}
.searchedItem label span i{
    position: relative;
    top: 1px;
    margin-left: 5px;
}

.hide{
    display: none;
}