<div class="row mt-4">
    <div class="col-xl-8 margin-auto">
        <div class="card-box borderShadow">
           <h4 class="header-title mb-4">Products</h4>
           <div class="table-responsive">
                <table class="table table-hover table-centered m-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of productList">
                            <td>{{item['id']}}</td>
                            <td class="row-product-img"><img src="http://localhost:3000/api/uploads/products/{{item['pic']}}" alt=""></td>
                            <td>{{item['name']}}</td>
                            <td>{{item['category']}}</td>
                            <td>{{item['price']}}</td>
                            <td>{{item['discount']}}</td>
                            <td>{{item['qty']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>