<div class="row mt-4">
    <div class="col-lg-12">
        <form action="" class="col-lg-8 form">
            <div class="row">
                <div class="col-lg-12 col-lx-12 form-group">
                    <label for="">Current password <span class="required">*</span></label>
                    <input type="password" [(ngModel)]="details['cPass']" name="cPass" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lx-12 form-group">
                    <label for="">New password <span class="required">*</span></label>
                    <input type="password" [(ngModel)]="details['nPass']" name="nPass" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-lx-12 form-group">
                    <label for="">Confirm password <span class="required">*</span></label>
                    <input type="password" [(ngModel)]="details['cnPass']" name="cnPass" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    <button type="submit" (click)="updateChanges()" [disabled]="action ? true : false" class="btn btn-success ml-2">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>